<?xml version="1.0" encoding="utf-8"?>
<!--*****************************************************************
    * Web.config                                         v1.2 09/2016
    * Sacred Heart Hospital                             Robert Willis
    *
    * Web configuration file for Sacred Heart Hospital.
    **************************************************************-->

<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <!-- Connection strings for Sacred Heart Hospital Database-->
  <connectionStrings>
    <add name="SacredHeartConnectionString"
      connectionString="Data Source='localhost\SQLEXPRESS'; Initial Catalog='SacredHeartHospitalDB'; Integrated Security='True';" />
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
</configuration>